<mat-toolbar class="mat-elevation-z6" color="primary">
  <div class="title">
      Galaxy
  </div>
  <button mat-icon-button class="menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="right-actions">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button  [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>个人信息</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onLogout()">退出</button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer [mode]="'side'" [opened]="true" class="mat-elevation-z4">

    <button *ngIf="path=='/user'; else userButton" mat-raised-button color="primary" (click)="onMenuChange('/user')"><mat-icon>home</mat-icon>用户面板</button>
    <ng-template #userButton><button mat-button (click)="onMenuChange('/user')"><mat-icon>home</mat-icon>用户面板</button></ng-template>

    <button *ngIf="path=='/user/node'; else nodeButton" mat-raised-button color="primary" (click)="onMenuChange('/user/node')"><mat-icon>explore</mat-icon>节点列表</button>
    <ng-template #nodeButton><button mat-button (click)="onMenuChange('/user/node')"><mat-icon>explore</mat-icon>节点列表</button></ng-template>

    <button *ngIf="path=='/user/product'; else productButton" mat-raised-button color="primary" (click)="onMenuChange('/user/product')"><mat-icon>attach_money</mat-icon>购买服务</button>
    <ng-template #productButton><button mat-button (click)="onMenuChange('/user/product')"><mat-icon>attach_money</mat-icon>购买服务</button></ng-template>

    <button *ngIf="path=='/user/profile'; else profileButton" mat-raised-button color="primary" (click)="onMenuChange('/user/profile')"><mat-icon>security</mat-icon>修改资料</button>
    <ng-template #profileButton><button mat-button (click)="onMenuChange('/user/profile')"><mat-icon>security</mat-icon>修改资料</button></ng-template>
  
    <button *ngIf="path=='/user/faq'; else faqButton" mat-raised-button color="primary" (click)="onMenuChange('/user/faq')"><mat-icon>help</mat-icon>常见问题</button>
    <ng-template #faqButton><button mat-button (click)="onMenuChange('/user/faq')"><mat-icon>help</mat-icon>常见问题</button></ng-template>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>