:host{
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-toolbar {
        z-index: 100;

        div.title{
            width: 230px;
            cursor: pointer;
            text-align: center;
        }
        div.right-actions{
            vertical-align: middle;
            display: flex;
            margin-left: auto;
            button {
                margin-right: 30px;
                cursor: pointer;
            }
        }
    }

    mat-drawer-container {
        flex: 1;
        mat-drawer{
            width: 240px;
            padding: 10px 16px;

            button{
                display: block;
                width: 100%;
                margin-bottom: 10px;
                padding-top: 5px;
                padding-bottom: 5px;

                /deep/ span.mat-button-wrapper {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    text-align: left;

                    mat-icon {
                        margin-right: 36px;
                    }
                }
            }
        }

        mat-drawer-content {
            padding: 10px 15px;
        }
    }
}