<mat-card class="mat-elevation-z6">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-card-header>
    <mat-card-title>注册</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input class="inputEmail" matInput type="email" placeholder="邮箱" [formControl]="emailFC" [(ngModel)]="email" autocomplete="off" required>
      <mat-error *ngIf="emailFC.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input class="inputPassword" matInput placeholder="密码" type="password" autocomplete="off" [(ngModel)]="password1">
    </mat-form-field>
    <mat-form-field>
        <input class="inputPassword" matInput placeholder="重复密码" type="password" autocomplete="off" [(ngModel)]="password2">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
      <a class="login link" [routerLink]="['/login']">已有账号？</a>
      <button class="buttonSubmit" mat-raised-button color="primary" (click)="onSubmit()">注册</button>
  </mat-card-actions>
</mat-card>