<mat-grid-list cols="2" rowHeight="400px">
  <mat-grid-tile [colspan]="1" [rowspan]="1"><app-user-flow-chart></app-user-flow-chart></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1"><app-user-flow-bucket></app-user-flow-bucket></mat-grid-tile>
</mat-grid-list>

