:host {
    div.hint {
        margin-bottom: 60px;
    }
    mat-accordion {
        width: 50%;
        display: block;
        // margin-left: auto;
        // margin-right: auto;
        min-width: 480px;

        mat-expansion-panel {
            mat-expansion-panel-header{
                mat-panel-description{
                    span.price{
                        color: #3f51b5;
                    }
                    span.traffic{
                        color: #3f51b5;
                        margin-left: auto;
                    }
                }
            }

            mat-grid-list{
                mat-grid-tile.left {
                    color: #009688;
                }
            }
        }
    }
}