<div class="hint">
  <span>目前不支持升级，购买后自动添加到已有的套餐后面</span>
</div>

<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let p of products" expanded="true">
    <mat-expansion-panel-header [collapsedHeight]="auto" [expandedHeight]="auto">
      <mat-panel-title>
        {{p.name}}
      </mat-panel-title>
      <mat-panel-description>
        <span class="price">{{p.price/100}}元</span>
        <span class="traffic">{{p.price/p.number_of_months/100|number}}元/月</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="2" rowHeight="35px">
        <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">设备</mat-grid-tile><mat-grid-tile [colspan]="1" [rowspan]="1">不限</mat-grid-tile>
        <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">节点</mat-grid-tile><mat-grid-tile [colspan]="1" [rowspan]="1">{{p.number_of_nodes}}</mat-grid-tile>
        <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">服务时长</mat-grid-tile><mat-grid-tile [colspan]="1" [rowspan]="1">{{p.number_of_months}}月</mat-grid-tile>
        <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">每月流量</mat-grid-tile><mat-grid-tile [colspan]="1" [rowspan]="1">{{p.flow_limit_per_month/1024/1024/1024}}GB</mat-grid-tile>
    </mat-grid-list>      
    <mat-action-row>
      <button class="buy" mat-raised-button color="accent" (click)="onBuy(p.id)">立即购买</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
  
  