:host{
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

    mat-card {
        background: #FFFFFF77;
        border-radius: 8px;

        mat-progress-bar{
            position: absolute;
            height: 4px;
            left: 0px;
            top: 0px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        a.link {
            text-decoration: none;
            cursor: pointer;
            font-size: 12px;
            color: #3f51b5;
        }

        mat-card-title {
            font-size: 22px;
            user-select: none;
        }

        mat-card-content{
            display: flex;
            flex-direction: column;

        }

        mat-card-actions {
            padding: 10px 15px;
            text-align: right;
            button.buttonSubmit {
                margin-left: 15px;
            }
        }
    }
}