:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;

    div.chart-container {
        height: 100%;
        position: relative;
        margin-top: 20px;
        display: flex;

        app-loading-mask {
            left: 0;
            top: 0;
        }
    }
}