<mat-button-toggle-group name="fontStyle">
  <mat-button-toggle value="24hour" [checked]="true" (change)="onChange($event)">24小时</mat-button-toggle>
  <mat-button-toggle value="48hour" (change)="onChange($event)">48小时</mat-button-toggle>
  <mat-button-toggle value="month" (change)="onChange($event)">一个月</mat-button-toggle>
  <mat-button-toggle value="year" (change)="onChange($event)">十二个月</mat-button-toggle>
</mat-button-toggle-group>

<div class="chart-container">
  <div id="user-flow-chart" [style.width.%]="100" [style.height.%]="100"></div>
  <app-loading-mask *ngIf="loading"></app-loading-mask>
</div>
