:host{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #66666666;

    div.container{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mat-spinner{
            left: 0px;
            top: 0px;
        }
    }
}