/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%;

    body {
        height: inherit;
        margin: 0;
    }

    button::-moz-focus-inner, a {
        outline: none;
        border: 0;
      }
      
      *:not(mat-icon):not(.fa) {
        font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;
      }
}