:host {
    display: flex;
    mat-list.node-list{
        flex: 1;
        padding-right: 80px;
        mat-list-item{
            margin-top: 10px;
            h4.title {
                font-size: 22px;
                display: flex;
                user-select: none;
                a.qrcode {
                    margin-left: auto;
                    font-size: 14px;
                    cursor: pointer;
                    transition: color 1s;

                    &:hover{
                        color: #3f51b5;
                    }
                }
            }

            p.host {
                span.host{
                    color: #3f51b5;
                    font-weight: bold;
                }
            }
        }
    }

    mat-list.ssinfo{
        flex: 1;

        mat-grid-list {
            mat-grid-tile.left{
                user-select: none;
            }
            mat-grid-tile.right {
                color: #3f51b5;
                font-weight: bold;
            }
        }
    }
}