

<mat-list class="node-list">
  <h3 mat-header>节点列表</h3>
  <mat-list-item class="mat-elevation-z2" *ngFor="let n of nodes">
    <mat-icon mat-list-icon>location_on</mat-icon>
    <h4 class="title" mat-line>{{n.name}}<a *ngIf="ssinfo" class="qrcode" (click)="showQRCode(n)">二维码</a></h4>
    <p class="host" mat-line>服务器地址：<span class="host">{{n.public_host}}</span> </p>
    <p class="description" mat-line>{{n.description}}</p>
  </mat-list-item>
</mat-list>

<mat-list class="ssinfo">
  <h3 mat-header>账号信息</h3>
  <mat-grid-list *ngIf="ssinfo; else noss"  cols="4" rowHeight="35px">
    <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">端口号</mat-grid-tile><mat-grid-tile class="right" [colspan]="3" [rowspan]="1">{{ssinfo.port}}</mat-grid-tile>
    <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">加密方式</mat-grid-tile><mat-grid-tile class="right" [colspan]="3" [rowspan]="1">{{ssinfo.method}}</mat-grid-tile>
    <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">密码</mat-grid-tile><mat-grid-tile class="right" [colspan]="3" [rowspan]="1">{{ssinfo.password}}</mat-grid-tile>
    <mat-grid-tile class="left" [colspan]="1" [rowspan]="1">服务状态</mat-grid-tile><mat-grid-tile class="right" [colspan]="3" [rowspan]="1">{{ssStatus}}</mat-grid-tile>
  </mat-grid-list>
  <ng-template #noss>
    <span>未购买任何SS服务</span>
  </ng-template>
</mat-list>